body {
    min-height: 110vh;
    position: relative;

}

/* styles.css */
#navbar {
    background-color: #161614 !important;
    height: 12vh;
    position: fixed;
    width: 100%;
}

#navDiv {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

img {
    border-radius: 20px;
}

.nav-link {
    color: #ceb160 !important;
    /* Couleur du texte en blanc */
}

a{
    text-decoration: none;
}

.btn-link{
    color: #ceb160;
}

.navCont{
    width: 93%;
}






.resaContainer{
    margin-top: 20vh;
}


/************************** Index Rec et Photo bloc ****************************/


h2 {
    color: orange;
}

#recBloc,
#photoBloc {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.photoLink {
    display: block;
    height: 100%;
}

a:hover {
    text-decoration: none !important;
}

#recBloc h2,
#photoBloc h2 {
    padding: 50px;
    position: relative;
    z-index: 2;
    opacity: 1;
    color: orange;
}

#recBloc p,
#photoBloc p {
    opacity: 1;
    color: black;
    z-index: 2;
    position: relative;
    background-color: rgba(255, 255, 255, 0.721);
    border-radius: 10px;
}

#recBloc a:hover p,
#photoBloc a:hover p {
    transform: scale(1.02);
    /* Augmente la taille du texte de 5% au survol */
    transition: transform 0.3s;
    /* Ajoute une transition pour une animation fluide */
}

#photoBloc::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
}

#recBloc::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
}

#recBloc::before {
    background-image: url('../../public/images/RecIndex.jpg');
    /* Image de fond pour #recBloc */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

#photoBloc::before {
    background-image: url('../../public/images/PhotoIndex.jpg');
    /* Image de fond pour #photoBloc */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;

}

.btnn{
    color: white;
    background-color: #ceb160;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin: 40%;
    margin-top: 50px;
}

/************************** Calendrier Resa ****************************/

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: silver !important;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 jours de la semaine */
    gap: 4px;
    width: 80%;
}

.day {
    background-color: #fff;
    /* Couleur de fond par défaut */
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

/* Styles pour les heures réservées */
.reserved {
    background-color: #ff0000;
    /* Rouge pour les heures réservées */
    color: #fff;
    /* Texte en blanc */
}

td {
    border: 1px solid black;
}



/**********************  Notre Equipe *************************/
.equip{
    margin-bottom: 20vh;
}

.equip li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: baseline;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgba(128, 128, 128, 0.6);
    width: 27vw;
    margin: auto;
    border-radius: 10px;
}

.equip a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #f7d473;
    position: relative;
    margin-top: -30px;
    margin-left: 22vh;
}


.equip img {
    border-radius: 50px;
}

.equip h2 {
    text-align: center;
}

.equip img {
    max-height: 100px !important;
    max-width: 100px !important;
    margin-right: 10vh;
}

.equipBloc {
    width: 25vw;
    height: 12vh;
    border-radius: 10px;
}

/**********************  Location avec carte *************************/

.loc {
    text-align: center;
}


/********************** FormResa ***************************/

.form-group {
    width: 20vw;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.form-group input {
    text-align: center;
    padding: 1rem;
}

.form-group select {
    text-align: center;
    padding: 1rem;
}

.card-body button {
    background-color: #ceb160;
    color: black;
    border: 0;
    padding: 0.7rem;

}

/********************** ListResa ********************/


#tableResa table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}

#tableResa table,
#tableResa th,
#tableResa td {
    border: 1px solid cornsilk;
}

#tableResa th,
#tableResa td {
    padding: 10px;
    text-align: center;
}

.btn-delete {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #ceb160;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
}

.bodViewResa {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#tableResa {
    margin-top: 90px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ceb160;
}

tr {
    background-color: rgba(255, 255, 255, 0.509);
}


/*********************** ModifUsers ***********************/
.userPage {
    background-color: rgba(255, 255, 255, 0.509);
    border-radius: 20px;
}

.modifInf form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;

}

.affichUser {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/************************* LOG *****************************/

.card{
    background-color: rgba(0, 0, 0, 0.472);
                color: white;
                text-align: center;
                border: 3px solid #cfa430;
                border-radius: 15px;
                width: 35vw; margin-left: 8vh;

}


/************************* MAP **************************/

iframe{
    width: 40vw;
    height: 70vh;
}

/************************* FOOTER *************************/


/* Style de base pour le pied de page */
#foot {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex !important;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#foot i {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

footer h3 {
    color: #ceb160;
}

/* Style pour chaque bloc à l'intérieur du pied de page */
.footer-block {
    margin-bottom: 20px;
}

/* Style pour les liens dans le pied de page */
#foot a {
    color: #ceb160;
    text-decoration: none;
}


@media screen and (max-width:768px) {
    iframe{
        width: 90vw;
    margin-bottom: 50vh;
    height: 60vh;
    }
/*     width="600" height="570"
 */    
}
